* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: body 50s infinite;
}


.background {
    width: 100vw;
    height: 100vh;
    max-height: 1200px;
    max-width: 600px;
    background-image: url(awesome-spiral-galaxy-deep-space-beauty-endless-cosmos-science-fiction-wallpaper.png);
    background-repeat: no-repeat;
}

.purple {
    width: 100vw;
    height: 100vh;
    max-height: 1200px;
    max-width: 600px;
    background-color: rgba(128, 0, 128, 0.345);
}

.img1 {
    position: relative;
    width: 400px;
    top: 317px;
    left: 75px;
}

.img2-1 {
    position: relative;
    top: 229px;
    left: 161px;
    width: 232px;

}


.img2-2 {
    position: relative;
    width: 200px;
    top: 252px;
    left: -55px;
    transform: translateY(0);
    animation: img22 5s infinite;
    animation-delay: 3s;
}

@keyframes img22 {
    50% {
        transform: translateY(-10px)
    }
}

.img2-3 {
    position: relative;
    top: -234px;
    left: 199px;
    width: 161px;
    transform: translateY(0);
    animation: img23 5s infinite;
    animation-delay: 3s;
}

@keyframes img23 {
    50% {
        transform: translateY(-20px)
    }
}

.img3 {
    position: relative;
    top: -241px;
    left: 48px;
    width: 138px;
}

.img4 {
    position: relative;
    top: -259px;
    left: -77px;
    width: 112px;
    opacity: 1;
    animation: luys 4s;
    animation-delay: 11s;
}

@keyframes luys {
    50% {
        opacity: 0;
    }
}

.img7 {
    position: relative;
    top: -751px;
    right: 231px;
    width: 151px;
}

.новая-сеть-наивной-рекламы {
    text-align: center;
    color: white;
    position: relative;
    top: -700px;
    left: -21px;
    transform: translateY(0) scale(0.5);
    opacity: 0;
    animation: новая-сеть-наивной-рекламы 20s;
    animation-delay: 18s;
    animation-fill-mode: forwards;
    scale: 0.5;
    text-align: center;
}

@keyframes новая-сеть-наивной-рекламы {
    100% {
        transform: translateY(100px) scale(1);
        opacity: 1;
    }
}

.креативные-форматы {
    text-align: center;
    color: white;
    position: relative;
    top: -700px;
    left: -21px;
    transform: translateY(0) scale(0.5);
    opacity: 0;
    animation: креативные-форматы 6s;
    animation-delay: 4s;
    animation-fill-mode: backwards;
}

@keyframes креативные-форматы {
    100% {
        transform: translateY(100px) scale(1);
        opacity: 1;
    }
}

.высокая-эфективность {
    text-align: center;
    color: white;
    position: relative;
    top: -700px;
    left: -21px;
    transform: translateY(-100px) scale(0.5);
    opacity: 0;
    animation: высокая-эфективность 4s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

@keyframes высокая-эфективность {
    100% {
        transform: translateY(-10px)scale(1);
        opacity: 1;
    }
}

.img5 {
    position: relative;
    top: -703px;
    left: 192px;
    width: 189px;
    opacity: 0;
    transform: scale(0);
    animation: img5 10s;
    animation-delay: 8s;
    animation-fill-mode: backwards;
}

@keyframes img5 {
    100% {
        opacity: 4;
        transform: scale(1);
    }
}

.img6 {
    position: relative;
    top: -830px;
    left: -11px;
    width: 200px;
    opacity: 0;
    transform: scale(0);
    animation: img6 10s;
    animation-fill-mode: backwards;
    animation-delay: 8s;
}

@keyframes img6 {
    100% {
        opacity: 4;
        transform: scale(1);
    }
}
.conteiner{
    width: 120px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}